.container {
  background-color: #ffff;
  box-shadow: 1px 2px 3px #00000017;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container div > p {
  opacity: 0.6;
  margin-top: 10px;
}

.edit {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.edit input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}
.edit button {
  padding: 5px;
  border: 1px solid dodgerblue;
  color: #ffff;
  background-color: dodgerblue;
  border-radius: 4px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttons button {
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid dodgerblue;
  background-color: #fff;
  color: dodgerblue;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.buttons button:hover {
  background-color: dodgerblue;
  color: #fff;
}
