.container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ededed;
}

.profileImg {
    background-color: var(--border);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.name {
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.phoneNumber {
    opacity: 0.8;
    font-size: 0.8rem;
}
