:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --text-color: #2d2d2d;
    --background-color: #fffdfe;
    --them-color: dodgerblue;
    --border-color: #f0efef;
    --input-color: #f5f5f5;
}

body {
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    padding: 1em;
    background-color: var(--background-color);
    animation: start 0.4s ease-in;
}

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    border: none;
    outline: none;
}

input {
    background-color: var(--input-color);
    border-radius: 10px;
    padding: 1em;
}
input::placeholder {
    opacity: 0.5;
}
input:focus {
    color: var(--them-color);
}
input:focus::placeholder {
    color: var(--them-color);
}

@media (min-width: 700px) {
    button {
        cursor: pointer;
    }
}
