:root {
  --them-color: #2ca62c;
  --border-them-color: #1b6f1b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f8f7;
  max-width: 600px;
  margin: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
