.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0;
    gap: 1em;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 5px;
    animation: start-cards 0.4s ease-in;
    animation-delay: 2.5;
}

@keyframes start-cards {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.image {
    background-color: var(--input-color);
    border: 1px solid var(--border-color);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    opacity: 0.5;
    font-size: 0.8rem;
}

.name {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

@media (min-width: 700px) {
    .container {
        cursor: pointer;
    }
}
